.headline {
  margin: 40px 0;
  /* border-bottom: 1px solid transparent; */
  transition: background 0.2s ease-in-out, color 0.2s ease;
  font-size: 5em;
}

.headline:hover {
  background: #ac0a0a;
  color: #fff;
}
