.btn {
  padding: 10px 20px;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  margin: 30px 0 0 0;
  transition: border 0.3s ease, opacity 0.3s ease;
  border-bottom: 1px solid transparent;
  opacity: 0.8;
}

.btn:hover {
  border-bottom: 1px solid #fff;
  opacity: 1;
}
