.btn {
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: border 0.3s ease, opacity 0.3s ease;
  border-bottom: 1px solid transparent;
  opacity: 0.8;
}

.btn:hover {
  color: red;
  opacity: 1;
}
