.container {
  height: 100vh;
  background: linear-gradient(#3c3c3c, #2f2f2f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline {
  margin: 40px 0;
  /* border-bottom: 1px solid transparent; */
  transition: background 0.2s ease-in-out, color 0.2s ease;
  font-size: 5em;
}

.headline:hover {
  background: #ac0a0a;
  color: #fff;
}

.text {
  width: 80vw;
  text-align: justify;
  line-height: 1.8em;
  color: #fff;
}
