.container {
  min-height: 100vh;
  background: linear-gradient(#0c0c0c, #070707);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  width: 80vw;
  text-align: center;
  line-height: 1.8em;
  color: #fff;
  font-size: 3em;
}
