.container {
  min-height: 100vh;
  background: linear-gradient(#444444, #3d3d3d);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer > img {
  width: 300px;
}
