.container {
  min-height: 100vh;
  background: linear-gradient(#0e0e0e, #1e1c28);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  width: 80vw;
  text-align: center;
  line-height: 1.8em;
  color: #fff;
  font-size: 3em;
}
.input {
  border: 0;
  border-bottom: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1); /* Ajoutez un fond léger pour tester */
  height: 2.8em;
  color: #fff;
}
